<app-dropdown> </app-dropdown>

<p>{{ 'HELLO' | translate }}</p>
<p *ngIf="nbrFolowers!=0">{{ 'followers' | translate }}: {{ nbrFolowers }}</p>
<p > {{ message }}</p>

<form novalidate (ngSubmit)="send(registerForm)"  [formGroup]="registerForm" >
        <label for="inputName"  >{{ 'twittername' | translate }}</label>
        <input appImputName   id="inputName" formControlName="twittName"  placeholder="{{ 'inputname' | translate }}" >
        <button appButtonAction  type="submit" [disabled]="registerForm.invalid">{{ 'buttonsearch' | translate }}</button>
        <p *ngIf="registerForm.invalid && registerForm.dirty || buttonPressed">{{ 'required' | translate }}</p>
</form>

